.aboutMe{
    max-width: 1005px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 400px 0 332px;
    @media (max-width: 768px){
        flex-direction: column;
    }
    .aboutMe_image{
        margin-left: 140px;
        position: relative;
        background: linear-gradient(37.09deg, rgba(134, 135, 221, 0.505) -3.86%, rgba(157, 112, 255, 0.5) 109.1%);
        border-radius: 10px;
        backdrop-filter: blur(5px);
        @media (max-width: 768px){
            margin-left: 0;
        }
        img{
            @media (max-width: 1024px){
                width: 300px;
            }
            @media (max-width: 768px){
                width: 257px;
            }
            @media (max-width: 400px){
                width: 195px;
            }
        }
        .image_text{
            position: absolute;
            top: 50px;
            left: -150px;
            @media (max-width: 768px){
                left: -68px;
                top: 15px;
            }
            @media (max-width: 400px){
                left: -40px;
            }
            p{
                position: absolute;
                transform: rotate(-11.77deg);
                bottom: 32px;
                left: 20px;
                font-family: 'SFUIText-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                @media (max-width: 1024px){
                    font-size: 14px;
                    bottom: 28px;
                }
                @media (max-width: 768px){
                    font-size: 10px;
                    bottom: 17px;
                    left: 14px;
                }
                @media (max-width: 400px){
                    font-size: 8px;
                    bottom: 12px;
                }

            }
            img{
                @media (max-width: 1024px){
                    width: 200px;
                }
                @media (max-width: 768px){
                    width: 143px;
                }
                @media (max-width: 400px){
                    width: 116px;
                }
            }
        }
    }
    .aboutMe_text{
        max-width: 395px;
        @media (max-width: 1024px){
            max-width: 388px;
        }
        @media (max-width: 1024px){
            max-width: 358px;
        }
        p{
            font-family: 'SFUIText-Regular';
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;       
            color: #333333;    
            @media (max-width: 1024px){
                font-size: 16px;
                line-height: 19px;
                margin-left: 10px;
            } 
            @media (max-width: 768px){
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                margin: 83px 0 0;
            }      
            @media (max-width: 400px){
                font-size: 14px;
                line-height: 16px;
            }  
            b{
                @media (max-width: 768px){
                    display: none;
                }  
            }
        }
    }
}