body {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

#root {
  position: relative;
  z-index: 1;
  background: #141D2B;
  overflow: hidden;
}
#root span {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  background-color: #7CEFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 140px 70px rgb(124, 239, 255);
          box-shadow: 0px 0px 140px 70px rgb(124, 239, 255);
  left: 45%;
  top: 160px;
  z-index: 0;
}
@media (max-width: 414px) {
  #root span {
    -webkit-box-shadow: 0px 0px 110px 55px rgb(124, 239, 255);
            box-shadow: 0px 0px 110px 55px rgb(124, 239, 255);
    left: 50%;
    top: 140px;
  }
}
#root span:nth-child(2) {
  background-color: #FFB0E9;
  -webkit-box-shadow: 0px 0px 290px 120px rgb(255, 176, 233);
          box-shadow: 0px 0px 290px 120px rgb(255, 176, 233);
  left: 28%;
}
@media (max-width: 414px) {
  #root span:nth-child(2) {
    -webkit-box-shadow: 0px 0px 195px 80px rgb(255, 176, 233);
            box-shadow: 0px 0px 195px 80px rgb(255, 176, 233);
    left: 28%;
  }
}
#root span:nth-child(3) {
  background-color: #9D70FF;
  -webkit-box-shadow: 0px 0px 300px 100px #9D70FF;
          box-shadow: 0px 0px 300px 100px #9D70FF;
  top: -100px;
  left: 45%;
}
@media (max-width: 414px) {
  #root span:nth-child(3) {
    -webkit-box-shadow: 0px 0px 240px 70px #9D70FF;
            box-shadow: 0px 0px 240px 70px #9D70FF;
    top: -100px;
    left: 45%;
  }
}
#root span:nth-child(4) {
  background-color: #FFF279;
  -webkit-box-shadow: 0px 0px 300px 100px #FFF279;
          box-shadow: 0px 0px 300px 100px #FFF279;
  top: -100px;
  left: 34%;
}
@media (max-width: 414px) {
  #root span:nth-child(4) {
    -webkit-box-shadow: 0px 0px 170px 70px #FFF279;
            box-shadow: 0px 0px 170px 70px #FFF279;
    top: -100px;
    left: 34%;
  }
}

main, footer {
  max-width: 1240px;
  margin: 0 auto;
}

main {
  background: #141D2B;
}

header {
  width: 100%;
  background: #F5F9FF;
}
header .header_content {
  max-width: 1240px;
  margin: 0 auto;
}