body{
    width: 100%;
    height: 100%;
    background-color: #F5F9FF;
    
}
#root{
    margin: 20px;
    position: relative;
    z-index: 1;
    background-color: #F5F9FF;
    backdrop-filter: blur(20px);
    span{
        position: absolute;
        display: block;
        width: 1px;
        height: 1px;
        background-color: #7CEFFF;
        border-radius: 50%;
        box-shadow: 0px 0px 140px 70px rgb(124 239 255);
        left: 45%;
        top: 160px;
        z-index: 0;
        @media(max-width: 414px){
            box-shadow: 0px 0px 110px 55px rgb(124 239 255);
            left: 50%;
            top: 140px;
        }
    }
    span:nth-child(2){
        background-color: #FFB0E9;
        box-shadow: 0px 0px 290px 120px rgb(255, 176, 233);
        left: 28%;
        @media(max-width: 414px){
            box-shadow: 0px 0px 195px 80px rgb(255, 176, 233);
            left: 28%;
        }
    }
    span:nth-child(3){
        background-color: #9D70FF;
        box-shadow: 0px 0px 300px 100px #9D70FF;
        top: -100px;
        left: 45%;
        @media(max-width: 414px){
            box-shadow: 0px 0px 240px 70px #9D70FF;
            top: -100px;
            left: 45%;
        }
    }
    span:nth-child(4){
        background-color: #FFF279;
        box-shadow: 0px 0px 300px 100px #FFF279;
        top: -100px;
        left: 34%;
        @media(max-width: 414px){
            box-shadow: 0px 0px 170px 70px #FFF279;
            top: -100px;
            left: 34%;
        }
    }
}

header, main, footer{
    max-width: 1240px;
    margin: 0 auto;
}