.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1260px;
  margin: 172px auto 50px;
}
@media (max-width: 1024px) {
  .contacts {
    padding: 0 10px;
  }
}
.contacts .contacts_text {
  padding: 0 0 22px;
  border-bottom: 1px solid #FFFFFF;
}
.contacts .contacts_text p {
  font-family: "SFUIText-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  color: #F5F9FF;
}
@media (max-width: 768px) {
  .contacts .contacts_text p {
    font-size: 60px;
  }
}
@media (max-width: 425px) {
  .contacts .contacts_text p {
    font-size: 48px;
  }
}
.contacts .contacts-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 58px;
}
.contacts .contacts-links .contacts-links_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 916px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 900px) {
  .contacts .contacts-links .contacts-links_link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 270px;
    height: 251px;
  }
}
.contacts .contacts-links .contacts-links_link a {
  font-family: "SFUIText-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  color: #F5F9FF;
}