.contacts{
    display: flex;
    flex-direction: column;
    max-width: 1260px;
    margin: 172px auto 50px;
    color: #F5F9FF;
    &.dark{
        color: #000000;
        .contacts_text{
            border-color: #000000;
        }
    }
    @media(max-width: 1024px){
        padding: 0 10px;
    }
    .contacts_text{
        padding: 0 0 22px;
        border-bottom: 1px solid #FFFFFF;
        p{
            font-family: 'SFUIText-Light';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 86px;
        
            @media(max-width: 768px){
                font-size: 60px;
            }
            @media(max-width: 425px){
                font-size: 48px;
            }

        }
    }
    .contacts-links{
        display: flex;
        justify-content: flex-end;
        margin-top: 58px;
        .contacts-links_link{
            display: flex;
            max-width: 916px;
            justify-content: space-between;
            width: 100%;
            &.dark{
                a{
                    color: #000000;
                }
            }
            @media(max-width: 900px){
                flex-direction: column;
                max-width: 270px;
                height: 251px;
            }
            a{
                font-family: 'SFUIText-Light';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-decoration-line: underline;
                color: #F5F9FF;
            }
        }
    }
}