.myWorks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1260px;
    margin: 169px auto 0;
    @media(max-width: 1212px){
        justify-content: center;
        margin: 0 10px;
    }
    .bottom_nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 8;
        background: rgba(40, 40, 40, 0.02);
        backdrop-filter: blur(10px);
        height: 72px;
        padding: 0 18px;
        transition: .7s; 
        .nav_button-hover{
            display: none;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            transition: 2s; 
            a{
                background: #FFFFFF;
                backdrop-filter: blur(15px);
                border-radius: 15px;
                padding: 17px 50px;
                font-family: 'SFUIText-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #000000;
                transition: .6s;
                &:hover{
                    scale: 1.1;
                }
            }
        }
        .nav_text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            width: 100%;
            height: 72px;
            p{
                font-family: 'SFUIText-Regular';
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                padding: 11px 13px;
                border: 1px solid #FFFFFF;
                border-radius: 10px;
                opacity: .7;
                @media(max-width:768px){
                    font-size: 9px;
                    padding: 6px 13px;
                }
                @media(max-width:425px){
                    padding: 4px 8px;
                }
            }
            div{
                display: flex;
                p{
                    margin: 0 5px;
                }
            }
        }
        
    }
    .myWorks_works{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        margin: 10px 0;
        transition: .5s;    
        cursor: pointer;
        &:hover{
            .bottom_nav{
                height: 100%;
                     
            }
            .nav_button-hover{
                display: flex;
                transition: 2s; 
            }
            
        }
    }
    .myWorks_works:nth-child(1){
        width: 610px;
        height: 800px;
        background: #FF5151;
        @media(max-width:768px){
            width: 388px;
            height: 450px;
        }
        @media(max-width:375px){
            height: 420px;
        }
        
        img{
            position: absolute;
            @media(max-width:768px){
                width: 100%;
                bottom: -50px;
            }
            @media(max-width:400px){
                width: 120%;
            }
        }
    }
       
    .myWorks_works:nth-child(2){
        width: 610px;
        height: 588px;
        background: #6361D4;
        @media(max-width:768px){
            width: 388px;
            height: 450px;
        }
        @media(max-width:375px){
            height: 420px;
        }
        img{
            position: absolute;
            @media(max-width:768px){
                width: 125%;
                height: auto;
            }
            @media(max-width:400px){
                width: 145%;
            }
        }         
    }
    .myWorks_works:nth-child(3){
        width: 610px;
        height: 588px;
        background: #596AFF;
        @media(max-width:768px){
            width: 388px;
            height: 450px;
        }
        @media(max-width:375px){
            height: 420px;
        }
        img{
            position: absolute;
            border-radius: 20px;
            left: 22px;
            top: 50px;
            @media(max-width:768px){
                width: 350px;
                left: 20px;
            }
            @media(max-width:375px){
                width: 300px;
            }
            @media(max-width:355px){
                width: 290px;
                left: 10px;

            }
            @media(max-width:355px){
                width: 275px;
                left: 10px;

            }
        }
        
            
    }
    .myWorks_works:nth-child(4){
        width: 610px;
        height: 800px;
        background: #FF5170;
        transform: translateY(-212px);
        @media(max-width: 1212px){
            transform: translateY(0);
        }
        @media(max-width:768px){
            width: 388px;
            height: 450px;
        }
        @media(max-width:375px){
            height: 420px;
        }
        img{
            position: absolute;
            border-radius: 20px;
            left: 40px;
            top: 50px;
            @media(max-width:768px){
                width: 253px;
                left: 80px;
            }
            @media(max-width:375px){
                left: 40px;
            }
            @media(max-width:325px){
                left: 25px;
            }
        }
        
            
    }
    .myWorks_works:nth-child(5){
        width: 100%;
        height: 588px;
        background: #DAD7FF;
        transform: translateY(-210px);
        @media(max-width: 1212px){
            transform: translateY(0);
            width: 610px;
        }
        @media(max-width:768px){
            width: 388px;
            height: 450px;
        }
        @media(max-width:375px){
            height: 420px;
        }
        img{
            position: absolute;
            @media(max-width:768px){
                width: 1000px;
                top: -20px;
                left: -100px;
            }
        }
          
    }
    .myWorks_works:nth-child(6){
        width: 610px;
        height: 588px;
        background: #4D95FF;;
        transform: translateY(-212px);
        @media(max-width: 1212px){
            transform: translateY(0);
        }
        @media(max-width:768px){
            width: 388px;
            height: 450px;
        }
        @media(max-width:375px){
            height: 420px;
        }
        
        img{
            width: 610px;
            height: 588px;
            position: absolute;
            @media(max-width:768px){
                width: 388px;
                height: 450px;
            }
            @media(max-width:375px){
                width: 100%;
                height: 100%;
            }
        }
    }
    .myWorks_works:nth-child(7){
        width: 610px;
        height: 588px;
        background: #4D95FF;
        transform: translateY(-210px);
        @media(max-width: 1212px){
            transform: translateY(0);
        }
        @media(max-width:768px){
            width: 388px;
            height: 450px;
        }
        @media(max-width:375px){
            height: 420px;
        }
        img{
            width: 473px;
            transform: translate(80px, -130px);
            position: absolute;
            @media(max-width:768px){
                width: 329px;
                transform: translate(35px, -120px);
            }
            @media(max-width:375px){  
                width: 256px;  
                transform: translate(55px, -120px);
            }
            @media(max-width:330px){    
                transform: translate(25px, -120px);
            }
        }
    }
}


.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #000000;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #000000;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #000000;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }